<div class="grow flex flex-col justify-center items-center py-10 gap-y-4">
  <p class="uppercase text-coco-slate-gray text-xl md:text-2xl lg:text-3xl font-medium !font-anekt">
    Not found
  </p>

  <p class="text-coco-slate-gray text-md md:text-lg lg:text-lg !font-anekt">
    The page you are looking for cannot be found.
  </p>

  <a routerLink="/" class="flex items-center gap-x-1 pt-4">
    <span class="text-coco-orange font-medium">
      Back to the Home page
    </span>

    <mat-icon class="text-coco-orange" aria-label="Navigation icon" aria-hidden="false">
      trending_flat
    </mat-icon>
  </a>
</div>