<!-- TODO: Add arrows for at least desktop view -->
<div *ngIf="isFullscreen"
  class="fixed inset-0 flex flex-col justify-center items-center z-product-image-fullscreen bg-[rgba(0,0,0,.65)]"
  (click)="exitFullscreen()">
  <div class="relative flex flex-col landscape:flex-row-reverse gap-y-1 w-full landscape:h-full p-2 bg-white"
    (click)="$event.stopPropagation()" (swipeleft)="showNextImage()" (swiperight)="showPreviousImage()">
    <button class="absolute top-2 right-2" (click)="exitFullscreen()">
      <mat-icon class="w-9 text-3xl bg-[rgba(255,255,255,.8)]" aria-label="Exit fullscreen" aria-hidden="false" inline>
        fullscreen_exit
      </mat-icon>
    </button>

    <div *ngIf="selectedVariantFullscreenImages.length" class="flex justify-center w-full max-h-screen">
      <img [src]="selectedVariantFullscreenImages[fullscreenHighlightedImageIndex].src"
        [alt]="selectedVariantFullscreenImages[fullscreenHighlightedImageIndex].alt"
        class="object-contain max-h-[calc(100vh-16px)]" />
    </div>

    <div *ngIf="selectedVariantFullscreenImages.length > 1"
      class="shrink-0 flex landscape:flex-col justify-center gap-x-0.5 w-full landscape:w-[52px] h-[52px] landscape:h-full">
      <div *ngFor="let image of selectedVariantFullscreenImages; let i = index" class="border rounded cursor-pointer"
        [ngClass]="[i === fullscreenHighlightedImageIndex ? 'border-coco-medium-gray' : 'border-coco-light-gray']"
        (click)="fullscreenHighlightedImageIndex = i">
        <img [src]="image.src" [alt]="image.alt" class="max-h-[50px] rounded" />
      </div>
    </div>
  </div>
</div>

<div class="flex flex-col justify-center items-center gap-y-1 w-full">
  <div class="flex justify-center items-center w-full h-[300px] lg:h-[500px]" (swipeleft)="showNextImage()"
    (swiperight)="showPreviousImage()">
    <app-skeleton-loader *ngIf="!selectedVariantImages.length"
      class="w-[300px] lg:w-[500px] h-full"></app-skeleton-loader>

    <div *ngIf="selectedVariantImages.length" class="relative">
      <button class="absolute top-0 right-0" (click)="enterFullscreen()">
        <mat-icon class="w-9 text-3xl bg-[rgba(255,255,255,.8)]" aria-label="Enter fullscreen" aria-hidden="false"
          inline>
          fullscreen
        </mat-icon>
      </button>

      <img [src]="selectedVariantImages[highlightedImageIndex].src"
        [alt]="selectedVariantImages[highlightedImageIndex].alt"
        [srcset]="selectedVariantImages[highlightedImageIndex].srcset"
        [sizes]="selectedVariantImages[highlightedImageIndex].sizes" class="max-h-[300px] lg:max-h-[500px]" />
    </div>
  </div>

  <div class="flex justify-center gap-x-0.5 h-[52px]">
    <app-skeleton-loader *ngFor="let i of (selectedVariantImages.length ? [] : [].constructor(5))"
      class="w-[52px] h-[52px]"></app-skeleton-loader>

    <div *ngFor="let image of selectedVariantImages; let i = index" class="border rounded cursor-pointer"
      [ngClass]="[i === highlightedImageIndex ? 'border-coco-medium-gray' : 'border-coco-light-gray']"
      (click)="highlightedImageIndex = i">
      <img [src]="image.src" [alt]="image.alt" [srcset]="image.srcset" [sizes]="image.sizes"
        class="max-h-[50px] rounded" />
    </div>
  </div>
</div>