<div class="fixed inset-0 flex z-shopping-cart">
  <div (click)="closeCart()" class="grow h-full bg-black opacity-[.65]"></div>

  <div class="shrink-0 flex flex-col w-full max-w-[516px] bg-white">
    <div class="relative flex justify-center items-center p-4 border-b border-coco-lighter-gray">
      <span class="uppercase text-coco-slate-gray text-2xl font-medium !font-anekt">
        Your Cart
      </span>

      <button (click)="closeCart()" class="absolute top-4 right-4 p-1.5">
        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
          <path d="M1 1L13 13M1 13L13 1L1 13Z" stroke="#374151" stroke-width="2" stroke-linecap="round"
            stroke-linejoin="round" />
        </svg>
      </button>
    </div>

    <div *ngIf="cart && cart.lines && cart.lines.length else emptyCart"
      class="grow flex flex-col justify-between px-4 pb-2.5 landscape:overflow-y-auto md:overflow-y-visible no-scrollbar">
      <ul class="grow basis-0 portrait:overflow-y-auto md:overflow-y-auto no-scrollbar">
        <li *ngFor="let lineItem of cart.lines; let i = index"
          [ngClass]="[i === cart.lines.length - 1 ? '' : 'border-b border-coco-lighter-gray']" class="pt-4">
          <app-line-item [lineItem]="lineItem"></app-line-item>
        </li>
      </ul>

      <div class="shrink-0 px-5 py-8">
        <div class="flex flex-col gap-y-4 pt-4 border-t border-coco-lighter-gray">
          <div class="flex justify-between">
            <span class="uppercase text-coco-slate-gray text-sm font-medium !font-anekt">
              Subtotal ({{ cart.totalQuantity }} items)
            </span>

            <div class="flex items-baseline gap-x-2">
              <span *ngIf="cart.originalTotalPrice"
                class="uppercase text-coco-red text-xs font-medium !font-anekt line-through decoration-1">
                {{ cart.originalTotalPrice.amount }} {{ cart.originalTotalPrice.currencyCode }}
              </span>

              <span class="uppercase text-coco-slate-gray text-sm font-semibold !font-anekt">
                {{ cart.totalPrice.amount }} {{ cart.totalPrice.currencyCode }}
              </span>
            </div>
          </div>

          <span class="text-coco-slate-gray text-xs font-normal !font-anekb">
            Tax included. {{ shippingInfo }}
          </span>

          <a [href]="cart.checkoutUrl" rel="noopener noreferrer">
            <div class="flex justify-center w-full px-6 py-4 bg-coco-orange rounded">
              <span class="uppercase text-white text-sm font-semibold !font-anekb">
                Check Out
              </span>
            </div>
          </a>

          <button (click)="closeCart()" class="w-full px-6 py-4 bg-white border border-coco-orange rounded">
            <span class="uppercase text-coco-slate-gray text-sm font-semibold !font-anekb">
              Continue Shopping
            </span>
          </button>
        </div>
      </div>
    </div>

    <ng-template #emptyCart>
      <div class="flex flex-col justify-center items-center gap-y-8 h-full px-8">
        <div class="flex flex-col gap-y-2">
          <span class="text-coco-slate-gray text-3xl font-medium !font-anekt">
            Your cart is empty!
          </span>

          <span class="text-coco-slate-gray text-base font-normal !font-anekt">
            Add your favorite cocos to your cart.
          </span>
        </div>
        <button (click)="navigateToProducts()" role="link" class="w-full px-6 py-4 bg-coco-orange rounded">
          <span class="uppercase text-white text-sm font-semibold !font-anekb">Shop Now</span>
        </button>
      </div>
    </ng-template>
  </div>
</div>