<div>
  <div class="bg-coco-dark-blue">
    <div class="h-11 md:h-5 lg:h-0"></div>
    <div class="flex justify-center align-items-center py-0.5">
      <span class="text-white text-uppercase text-[9px] font-roboto leading-[11px] tracking-[0.72px]">
        Free shippings on order over £100!
      </span>
    </div>
  </div>

  <div class="flex justify-center">
    <div class="grow flex flex-col max-w-centered-content">
      <!-- TODO: Check what's the desired height in the new design: 75 vs 61 px -->
      <div class="flex justify-between align-items-center h-[61px] px-1.5">
        <button class="md:hidden">
          <img src="/assets/img/home/nav/menu.png" alt="Menu" />
        </button>

        <div class="flex items-center gap-x-4">
          <a routerLink="/">
            <img src="/assets/img/home/nav/coco_logo_dark.png" alt="Coco Casing logo" />
          </a>

          <div class="hidden md:flex gap-x-4 text-coco-dark-blue text-[16px] font-medium font-roboto leading-[24px]">
            <a routerLink="/">
              <span class="text-uppercase">iPhone Cases</span>
            </a>

            <a routerLink="/">
              <span class="text-uppercase">Screen & Protection</span>
            </a>

            <a routerLink="/">
              <span class="text-uppercase">The Coco Package</span>
            </a>

            <a routerLink="/about-us">
              <span class="text-uppercase">About</span>
            </a>
          </div>
        </div>

        <button>
          <img src="/assets/img/home/nav/shopping_bag.png" alt="Shopping bag" />
        </button>
      </div>
    </div>
  </div>
</div>