<div class="border-b border-coco-lighter-gray">
  <!-- TODO: Either ignore this from SSG or fix the locale to i.e. "SE" when SSG is running -->
  <div *ngIf="freeShippingThreshold" class="bg-coco-darkest-blue">
    <div class="h-11 md:h-5 lg:h-0"></div>
    <div class="flex justify-center align-items-center py-0.5">
      <span class="text-white text-uppercase text-[9px] font-roboto leading-[11px] tracking-[0.72px]">
        Free shippings on order over {{ freeShippingThreshold }}!
      </span>
    </div>
  </div>

  <div class="flex justify-center bg-white">
    <div class="grow flex flex-col max-w-centered-content">
      <!-- TODO: Check what's the desired height in the new design: 75 vs 61 px -->
      <div class="grow flex justify-between items-center h-[61px] px-1.5">
        <button (click)="onHamburgerMenuClick()" class="lg:hidden">
          <img src="/assets/img/site-header/hamburger-menu.svg" alt="Menu" />
        </button>

        <div class="shrink-0 flex items-stretch gap-x-4">
          <a routerLink="/">
            <img src="/assets/img/site-header/coco-logo-dark.svg" alt="Coco Casing logo" />
          </a>

          <div class="hidden lg:flex items-stretch gap-x-3 text-coco-darkest-blue text-[16px] font-medium font-roboto">
            <ng-container *ngTemplateOutlet="navLink; context: { title: 'Home', link: '/' }"></ng-container>
            <ng-container *ngTemplateOutlet="navSeparator"></ng-container>

            <app-dropdown-menu>
              <div mainTemplate>
                <span class="text-uppercase">Products</span>
              </div>

              <ng-container
                *ngTemplateOutlet="dropdownLink; context: { title: 'iPhone Cases', link: '/products/the-coco-case' }"></ng-container>
              <ng-container *ngTemplateOutlet="dropdownSeparator"></ng-container>
              <ng-container
                *ngTemplateOutlet="dropdownLink; context: { title: 'Screen & Protection', link: '/products/the-screen-protection' }"></ng-container>
              <ng-container *ngTemplateOutlet="dropdownSeparator"></ng-container>
              <ng-container
                *ngTemplateOutlet="dropdownLink; context: { title: 'The Coco Package', link: '/products/the-coco-package' }"></ng-container>
            </app-dropdown-menu>

            <ng-container *ngTemplateOutlet="navSeparator"></ng-container>
            <ng-container *ngTemplateOutlet="navLink; context: { title: 'Blog', link: '/blog' }"></ng-container>
            <ng-container *ngTemplateOutlet="navSeparator"></ng-container>
            <ng-container *ngTemplateOutlet="navLink; context: { title: 'FAQ', link: '/faq' }"></ng-container>
            <ng-container *ngTemplateOutlet="navSeparator"></ng-container>
            <ng-container *ngTemplateOutlet="navLink; context: { title: 'Contact', link: '/contact' }"></ng-container>
            <ng-container *ngTemplateOutlet="navSeparator"></ng-container>
            <ng-container *ngTemplateOutlet="navLink; context: { title: 'About Us', link: '/about' }"></ng-container>
          </div>
        </div>

        <div class="lg:grow flex justify-end items-center gap-x-4">
          <!-- Spacer to force the search to shrink when it'd be too close to the nav links -->
          <div class="hidden lg:block shrink-0 w-10"></div>

          <form class="grow hidden lg:flex gap-x-2.5 max-w-[235px] px-2 py-0.5 bg-coco-light-gray rounded-2xl">
            <button class="shrink-0 rounded-l-2xl" type="submit">
              <img src="/assets/img/site-header/search.svg" alt="Search" />
            </button>
            <input class="grow bg-coco-light-gray rounded-r-2xl !outline-none" type="search" placeholder="Search ..." />
          </form>

          <button (click)="openCart()" class="relative shrink-0 w-6 lg:w-8 h-6 lg:h-8">
            <img src="/assets/img/site-header/shopping-bag.svg" alt="Shopping bag" />

            <!-- TODO: Add popping animation to the cart quantity display -->
            <div *ngIf="cartTotalQuantity"
              class="absolute top-[-4px] right-[-4px] flex justify-center items-center w-4 h-4 bg-coco-orange rounded-full">
              <span
                class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-white text-[0.6rem] font-medium leading-[0.6rem]">
                {{ cartTotalQuantity }}
              </span>
            </div>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #navLink let-title="title" let-link="link">
  <a [routerLink]="[link]" class="h-full">
    <div class="flex items-center h-full">
      <span class="text-uppercase">
        {{ title }}
      </span>
    </div>
  </a>
</ng-template>

<ng-template #navSeparator>
  <div class="hidden lg:flex justify-center items-center pb-0.5">
    <div class="bg-coco-orange w-1 h-1 rounded-full"></div>
  </div>
</ng-template>

<ng-template #dropdownLink let-title="title" let-link="link">
  <a [routerLink]="link">
    <div>
      <span class="text-uppercase whitespace-nowrap">
        {{ title }}
      </span>
    </div>
  </a>
</ng-template>

<ng-template #dropdownSeparator>
  <div class="w-full h-[1px] bg-gradient-to-r from-coco-orange via-coco-orange to-transparent opacity-50"></div>
</ng-template>