<!-- TODO: I think Blog should be added to the header as well -->

<div class="border-b border-[#E5E7EB]">
  <div class="bg-coco-dark-blue">
    <div class="h-11 md:h-5 lg:h-0"></div>
    <div class="flex justify-center align-items-center py-0.5">
      <span class="text-white text-uppercase text-[9px] font-roboto leading-[11px] tracking-[0.72px]">
        Free shippings on order over £100!
      </span>
    </div>
  </div>

  <div class="flex justify-center bg-white">
    <div class="grow flex flex-col max-w-centered-content">
      <!-- TODO: Check what's the desired height in the new design: 75 vs 61 px -->
      <div class="grow flex justify-between align-items-center h-[61px] px-1.5">
        <button class="lg:hidden">
          <img src="/assets/img/site-header/hamburger-menu.svg" alt="Menu" />
        </button>

        <div class="shrink-0 flex items-center gap-x-4">
          <a routerLink="/">
            <img src="/assets/img/site-header/coco-logo-dark.svg" alt="Coco Casing logo" />
          </a>

          <div class="hidden lg:flex gap-x-2 text-coco-dark-blue text-[16px] font-medium font-roboto">
            <a routerLink="/products/the-coco-case">
              <span class="text-uppercase">iPhone Cases</span>
            </a>

            <ng-container *ngTemplateOutlet="navSeparator"></ng-container>

            <!-- TODO: Add link when the product gets available from the new collection -->
            <a routerLink="/">
              <span class="text-uppercase">Screen & Protection</span>
            </a>

            <ng-container *ngTemplateOutlet="navSeparator"></ng-container>

            <a routerLink="/products/the-package">
              <span class="text-uppercase">The Coco Package</span>
            </a>

            <ng-container *ngTemplateOutlet="navSeparator"></ng-container>

            <a routerLink="/about">
              <span class="text-uppercase">About</span>
            </a>
          </div>
        </div>

        <div class="lg:grow flex justify-end items-center gap-x-4">
          <!-- Spacer to force the search to shrink when it'd be too close to the nav links -->
          <div class="hidden lg:block shrink-0 w-10"></div>

          <form class="grow hidden lg:flex gap-x-2.5 max-w-[235px] px-2 py-0.5 bg-coco-light-gray rounded-2xl">
            <button class="shrink-0 rounded-l-2xl" type="submit">
              <img src="/assets/img/site-header/search.svg" alt="Search" />
            </button>
            <input class="grow bg-coco-light-gray rounded-r-2xl !outline-none" type="search" placeholder="Search ..." />
          </form>

          <button class="shrink-0 w-6 lg:w-8 h-6 lg:h-8">
            <img src="/assets/img/site-header/shopping-bag.svg" alt="Shopping bag" />
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #navSeparator>
  <div class="hidden lg:flex justify-center items-center pb-0.5">
    <div class="bg-coco-orange w-1 h-1 rounded-full"></div>
  </div>
</ng-template>