<!-- TODO: Should the NEW / DISCOUNTED highlights be added to this page as well? -->
<div *ngIf="product" class="flex flex-col items-center gap-y-8">
  <div>
    <span>{{ product.slug | replace:'-':' ' | titlecase }}</span>
  </div>

  <div>
    <!-- TODO: Fetch description -->
    <!-- <p>{{ product.description }}</p> -->
  </div>

  <div class="flex">
    <!-- TODO: Include other variant-specific and -unspecific images -->
    <div *ngFor="let image of selectedVariant.images">
      <img [src]="image.url" [alt]="image.altText" class="max-h-[700px]" />
    </div>
  </div>

  <div class="flex flex-col gap-y-10 py-10">
    <div class="flex justify-center items-center gap-x-10">
      <button (click)="addToCart()" class="px-4 py-2 bg-coco-orange text-white border rounded shadow">
        <span>
          Add to Cart
        </span>
      </button>

      <!-- TODO: Also show compare-at price with strikethrough -->
      <span>
        {{ selectedVariant.price.amount | number:'1.0-0' }} {{ selectedVariant.price.currencyCode }}
      </span>
    </div>

    <div class="flex flex-col gap-y-4 p-2 bg-coco-light-gray rounded">
      <div class="flex flex-col gap-y-2">
        <div>
          <span>iPhone model</span>
        </div>

        <div class="flex gap-x-4">
          <button *ngFor="let serie of availableSeries"
            [ngClass]="[serie === selectedSerie ? 'font-medium border-2 border-black' : '']"
            class="option-selector-btn bg-white" (click)="changeSerie(serie)">
            <span>
              {{ serie | replace:'-':' ' | titlecase | seriecase }}
            </span>
          </button>
        </div>
      </div>

      <!-- TODO: Ask Nimer: What should be the model order there? (like the old one?) -->
      <div class="flex flex-col gap-y-2">
        <div>
          <span>iPhone version</span>
        </div>

        <div class="flex gap-x-4">
          <button *ngFor="let model of availableModels" [ngClass]="[isValidVariant('model', model) ? '' : 'opacity-20 cursor-not-allowed',
          model === selectedModel ? 'font-medium border-2 border-black' : '']" class="option-selector-btn bg-white"
            [disabled]="!isValidVariant('model', model)" (click)="changeModel(model)">
            <span>
              {{ model | replace:'-':' ' | titlecase }}
            </span>
          </button>
        </div>
      </div>

      <!-- TODO: Ask Nimer: What should be the color order there? (like the old one?) -->
      <div *ngIf="availableColors.length" class="flex flex-col gap-y-2">
        <div>
          <span>Choose your color</span>
        </div>

        <div class="flex gap-x-4">
          <button *ngFor="let color of availableColors"
            [ngClass]="[isValidVariant('color', color) ? '' : 'opacity-20 cursor-not-allowed',
        color === selectedColor ? 'font-medium border-2 bg-white color-option-selected--' + color : 'text-white color-option-unselected--' + color]"
            class="option-selector-btn" [disabled]="!isValidVariant('color', color)" (click)="changeColor(color)">
            <span>
              {{ color | replace:'-':' ' | titlecase }}
            </span>
          </button>
        </div>
      </div>

      <!-- TODO: Ask Nimer: What should be the tier order there? (like the old one?) -->
      <div *ngIf="availableTiers.length" class="flex flex-col gap-y-2">
        <div>
          <span>Choose your tier</span>
        </div>

        <div class="flex gap-x-4">
          <button *ngFor="let tier of availableTiers" [ngClass]="[isValidVariant('tier', tier) ? '' : 'opacity-20 cursor-not-allowed',
          tier === selectedTier ? 'font-medium border-2 border-black' : '']" class="option-selector-btn bg-white"
            [disabled]="!isValidVariant('tier', tier)" (click)="changeTier(tier)">
            <span>
              {{ tier | titlecase }}
            </span>
          </button>
        </div>
      </div>
    </div>
  </div>