<div class="flex justify-center px-2 py-8 bg-coco-darkest-blue">
  <div class="grow flex flex-col max-w-centered-content">
    <div class="grow flex flex-col sm:flex-row sm:justify-between gap-y-8">
      <div class="grid grid-cols-2 gap-x-20 sm:gap-x-16 lg:gap-x-24 px-2 sm:pr-0 lg:pl-0 pb-8">
        <div class="uppercase">
          <span class="text-coco-off-white text-sm font-medium !font-anekt">
            About
          </span>

          <ul class="flex flex-col gap-y-1 lg:gap-y-4 lg:pt-4 text-coco-medium-gray text-xs font-roboto">
            <li>
              <a routerLink="/about" class="whitespace-nowrap">
                About Coco Casing&trade;
              </a>
            </li>

            <li>
              <a routerLink="/faq" class="whitespace-nowrap">
                FAQ
              </a>
            </li>

            <li>
              <a href="/assets/docs/PrivacyPolicy.pdf" target="_blank" class="whitespace-nowrap">
                Privacy Policy
              </a>
            </li>

            <li>
              <a href="/assets/docs/RefundPolicy.pdf" target="_blank" class="whitespace-nowrap">
                Refund Policy
              </a>
            </li>

            <li>
              <a href="/assets/docs/ShippingPolicy.pdf" target="_blank" class="whitespace-nowrap">
                Shipping Policy
              </a>
            </li>

            <li>
              <a href="/assets/docs/TermsOfService.pdf" target="_blank" class="whitespace-nowrap">
                Terms of Service
              </a>
            </li>
          </ul>
        </div>

        <div class="uppercase">
          <span class=" text-coco-off-white text-sm font-medium !font-anekt">
            Pages
          </span>

          <ul class="flex flex-col gap-y-1 lg:gap-y-4 lg:pt-4 text-coco-medium-gray text-xs font-roboto">
            <li>
              <a routerLink="/" class="whitespace-nowrap">
                Home
              </a>
            </li>

            <li>
              <button (click)="navigateToProducts()" role="link" class="uppercase whitespace-nowrap">
                Products
              </button>
            </li>

            <li>
              <a routerLink="/contact" class="whitespace-nowrap">
                Contact
              </a>
            </li>

            <li>
              <a routerLink="/blog" class="whitespace-nowrap">
                Blog
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="grow flex justify-between md:gap-x-10 lg:gap-x-24 px-2 sm:px-0 pb-8">
        <div class="shrink-0 text-coco-medium-gray uppercase text-xs lg:text-sm font-normal lg:font-medium font-roboto">
          <span class="block whitespace-nowrap">Shadida Trading Company AB</span>{{' '}}
          <span class="block whitespace-nowrap">559356-9345</span>{{' '}}
          <span class="block whitespace-nowrap">Kristianstadsgatan 10</span>{{' '}}
          <span class="block whitespace-nowrap">21423 Malmö, Sweden</span>
        </div>

        <div class="grow flex flex-col-reverse md:flex-row justify-end sm:justify-center items-stretch gap-y-0.5">
          <div class="shrink-0 flex justify-center gap-x-8 md:gap-x-2 lg:gap-x-8 px-2.5 lg:pl-0 lg:pr-0">
            <a *ngFor="let link of socialMediaLinks" [href]="link.siteUrl" target="_blank" rel="noopener noreferrer">
              <img class="w-[18px] h-[18px]" [src]="link.imageUrl" [alt]="link.title" />
            </a>
          </div>

          <div class="shrink-0 md:grow flex justify-center max-w-[600px] lg:-mr-9 xl:-mr-18">
            <img src="/assets/img/site-footer/coco-logo-light.svg" alt="Coco Casing logo" />
          </div>
        </div>
      </div>
    </div>

    <div class="flex justify-center border-t border-coco-lighter-gray text-white">
      <div class="flex flex-col">
        <div class="flex justify-center gap-x-2 py-4">
          <img *ngFor="let image of paymentOptionImages" [src]="image.src" [alt]="image.alt" class="w-8 lg:w-9" />
        </div>
        <span class="block text-center text-coco-medium-gray text-xs font-medium !font-anekt leading-5">
          &copy;{{ currentYear }}, Coco Casing
        </span>
      </div>
    </div>
  </div>
</div>