<!-- TODO: Consider adding Content-Security-Policy -->
<!-- TODO: Revisit spacings and alignments in the design that might look strange -->
<!-- TODO: Think about how could h1, h2, ... inherited styles be reset via Tailwind -->
<app-navbar *ngIf="useNewLayout"></app-navbar>

<div *ngIf="useNewLayout; else oldLayout" class="bg-white">
  <router-outlet></router-outlet>
</div>
<ng-template #oldLayout>
  <router-outlet></router-outlet>
</ng-template>

<app-news-signup *ngIf="useNewLayout"></app-news-signup>
<app-footer *ngIf="useNewLayout"></app-footer>