<!-- TODO: Consider adding Content-Security-Policy -->
<!-- TODO: Revisit spacings and alignments in the design that might look strange -->
<!-- TODO: Think about how could h1, h2, ... inherited styles be reset via Tailwind -->
<div class="flex flex-col min-h-screen bg-white">
  <div class="grow">
    <app-site-drawer [ngClass]="{ 'hidden': !drawerIsVisible }" (drawerClose)="onDrawerClose()"></app-site-drawer>

    <app-site-shopping-cart *scullyExclude [ngClass]="{ 'hidden': !cartIsVisible }"></app-site-shopping-cart>

    <app-site-header (hamburgerMenuClick)="onHamburgerMenuClick()"></app-site-header>

    <router-outlet></router-outlet>
  </div>

  <app-site-news-signup></app-site-news-signup>

  <app-site-footer></app-site-footer>
</div>