<div *ngIf="!isLoading" class="pb-8">
  <div class="flex flex-col items-center gap-y-8 px-2 pt-10 pb-10">
    <div>
      <span class="text-uppercase text-coco-dark-blue text-3xl font-bold !font-anekt">
        {{ product.slug | replace:'-':' ' | titlecase }}
      </span>
    </div>

    <div>
      <p class="text-coco-slate-gray text-base font-medium !font-anekb">
        {{ product.description }}
      </p>
    </div>

    <app-product-image-slider [product]="product" [selectedVariant]="selectedVariant"
      class="w-full"></app-product-image-slider>

    <div class="flex flex-col gap-y-10">
      <div class="flex flex-col gap-y-4 rounded">
        <app-product-option-group title="iPhone Model">
          <app-product-option-selector *ngFor="let serie of availableSeries" [isEnabled]="true"
            [isActive]="serie === selectedSerie" buttonClass="px-5" (click)="changeSerie(serie)">
            {{ serie | replace:'-':' ' | titlecase | seriecase }}
          </app-product-option-selector>
        </app-product-option-group>

        <app-product-option-group title="iPhone Version">
          <app-product-option-selector *ngFor="let model of availableModels"
            [isEnabled]="isValidVariant('model', model)" [isActive]="model === selectedModel" buttonClass="px-4"
            (click)="changeModel(model)">
            {{ model | replace:'-':' ' | titlecase }}
          </app-product-option-selector>
        </app-product-option-group>

        <app-product-option-group *ngIf="availableColors.length" title="Choose your Color">
          <app-product-option-selector *ngFor="let color of availableColors"
            [isEnabled]="isValidVariant('color', color)" [isActive]="color === selectedColor"
            [buttonClass]="[color === selectedColor ? 'color-option-selected--' + color : 'text-white color-option-unselected--' + color]"
            class="w-[calc(33.333%-8px/3)]" (click)="changeColor(color)">
            {{ color | replace:'-':' ' | titlecase }}
          </app-product-option-selector>
        </app-product-option-group>

        <app-product-option-group *ngIf="availableTiers.length" title="Choose your Tier">
          <app-product-option-selector *ngFor="let tier of availableTiers" [isEnabled]="isValidVariant('tier', tier)"
            [isActive]="tier === selectedTier" buttonClass="px-4" (click)="changeTier(tier)">
            {{ tier | titlecase }}
          </app-product-option-selector>
        </app-product-option-group>
      </div>
    </div>
  </div>

  <div class="w-full h-16 bg-coco-darkest-blue" #addToCartPlaceholder>
    <app-add-to-cart class="w-full h-16"
      [ngClass]="[markerElementReached ? '' : 'fixed bottom-0 left-0 right-0 z-add-to-cart']"
      [productVariant]="selectedVariant"></app-add-to-cart>
  </div>
</div>