/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Anek+Bangla:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anek+Telugu:wght@100;200;300;400;500;600;700;800&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

h1,
h2,
h3,
h4,
h5,
p,
span,
div {
  font-family: "Roboto", sans-serif !important;
}

.mat-typography > h1,
h2,
h3,
h4,
h5,
p,
span,
div {
  margin: unset !important;
}

.toast-container {
  @apply z-toast-container #{!important};

  &.toast-top-center {
    @apply flex flex-col items-center #{!important};

    .ngx-toastr {

      // 640px is Tailwind's "sm" breakpoint
      @media screen and (max-width: 639px) {
        @apply w-screen #{!important};
      }
    }
  }

}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
  }
}
