<!-- TODO: Go through px values and turn them to rem -->
<!-- TODO: Do font sizing + re-ask Nimer if Roboto can be overriden with anekb or anekt ('!' can be removed now) -->

<!-- Hero -->
<div>
  <div class="h-[466px] bg-coco-light-gray bg-[url('/assets/img/home/hero_cases.png')] bg-cover bg-no-repeat"></div>
  <div class="bg-coco-dark-blue h-[257px] px-[8px] pt-[32px] pb-16px flex flex-col gap-y-[12px]">
    <div>
      <span class="block text-center text-white text-uppercase text-[34px] font-bold !font-anekb leading-[40px]">
        Elevate your style with
        <span class="text-coco-orange !font-anekb">Coco</span>
        cases
      </span>
    </div>

    <div class="flex justify-center">
      <button class="bg-coco-orange px-[20px] py-[14px] rounded-[8px]">
        <span class="text-white text-uppercase text-[16px] font-semibold !font-anekb leading-[24px]">
          Get yours now
        </span>
      </button>
    </div>
  </div>
</div>

<!-- Categories -->
<div class="pt-[64px] px-[8px]">
  <div class="py-[4px] border-b border-[#D1D5DB]">
    <span class="text-[#111827] text-uppercase text-[18px] !font-anekt leading-[28px]">
      Shop by category
    </span>
  </div>

  <div class="pt-[32px] pb-[24px] flex flex-col gap-y-[8px]">
    <div class="grid grid-cols-1 gap-y-[4px]">
      <div class="bg-coco-light-gray h-[168px] flex rounded-[8px] p-[4px]">
        <div class="w-1/2 p-[4px]">
          <img class="w-full h-full object-contain" src="/assets/img/home/product_categories/coco_package.jpg"
            alt="The Coco Package" />
        </div>

        <div class="w-1/2 flex flex-col justify-center align-items-center p-[4px]">
          <span
            class="text-coco-dark-blue text-uppercase text-[20px] font-bold !font-anekt leading-[28px] whitespace-nowrap">
            The Coco Package
          </span>

          <span class="pt-[4px] pb-[8px] text-center text-[#111827] text-[12px] font-light !font-anekb">
            A phone case package that can keep up with your active life.
          </span>

          <button class="bg-coco-dark-blue w-[82px] h-[30px] px-[5px] py-[2px] rounded-[4px]">
            <span class="text-white text-uppercase text-[14px] font-medium !font-anekb">Shop now</span>
          </button>
        </div>
      </div>

      <div class="bg-coco-light-gray h-[168px] flex rounded-[8px] p-[4px]">
        <div class="w-1/2 p-[4px]">
          <img class="w-full h-full object-contain" src="/assets/img/home/product_categories/package.png"
            alt="The Package" />
        </div>

        <div class="w-1/2 flex flex-col justify-center align-items-center p-[4px]">
          <span
            class="text-coco-dark-blue text-uppercase text-[20px] font-bold !font-anekt leading-[28px] whitespace-nowrap">
            The Package
          </span>

          <span class="pt-[4px] pb-[8px] text-center text-[#111827] text-[12px] font-light !font-anekb">
            The package for casual activities for him and her.
          </span>

          <button class="bg-coco-dark-blue w-[82px] h-[30px] px-[5px] py-[2px] rounded-[4px]">
            <span class="text-white text-uppercase text-[14px] font-medium !font-anekb">Shop now</span>
          </button>
        </div>
      </div>

      <div class="bg-coco-light-gray h-[168px] flex rounded-[8px] p-[4px]">
        <div class="w-1/2 p-[4px]">
          <img class="w-full h-full object-contain" src="/assets/img/home/product_categories/glass_kit.png"
            alt="The Glass Kit" />
        </div>

        <div class="w-1/2 flex flex-col justify-center align-items-center p-[4px]">
          <span
            class="text-coco-dark-blue text-uppercase text-[20px] font-bold !font-anekt leading-[28px] whitespace-nowrap">
            The Glass Kit
          </span>

          <span class="pt-[4px] pb-[8px] text-center text-[#111827] text-[12px] font-light !font-anekb">
            Reinforce your outer structure with the glass kit.
          </span>

          <button class="bg-coco-dark-blue w-[82px] h-[30px] px-[5px] py-[2px] rounded-[4px]">
            <span class="text-white text-uppercase text-[14px] font-medium !font-anekb">Shop now</span>
          </button>
        </div>
      </div>
    </div>

    <div class="h-[61px] grid grid-cols-3 gap-x-[8px]">
      <div class="bg-coco-light-gray flex flex-col justify-center align-items-center rounded-[8px]">
        <span class="text-coco-dark-blue text-uppercase text-[12px] font-semibold !font-anekt leading-[28px]">
          Cases
        </span>
      </div>

      <div class="bg-coco-light-gray flex flex-col justify-center align-items-center rounded-[8px]">
        <span class="text-coco-dark-blue text-uppercase text-[12px] font-semibold !font-anekt leading-[28px]">
          Screen Protection
        </span>
      </div>

      <div class="bg-coco-light-gray flex flex-col justify-center align-items-center rounded-[8px]">
        <span class="text-coco-dark-blue text-uppercase text-[12px] font-semibold !font-anekt leading-[28px]">
          Lenses
        </span>
      </div>
    </div>
  </div>
</div>

<!-- Blog -->
<div
  class="h-[126px] flex flex-col justify-center px-[18px] bg-coco-light-gray bg-center bg-[linear-gradient(0deg,rgba(0,0,0,0.74),rgba(0,0,0,0.74)),url('/assets/img/home/read_more_mobile.png')] bg-cover bg-no-repeat">
  <div>
    <span class="block text-white text-uppercase text-[24px] font-bold !font-anekt leading-[34px]">
      Live without limits
    </span>
  </div>
  <div class="flex gap-x-[24px]">
    <span class="block text-white text-[12px] font-bold !font-anekb leading-[20px]">
      Ready to break a sweat without breaking your phone?
    </span>

    <button class="bg-coco-orange h-[28px] px-[5px] py-[2px] rounded-[4px]">
      <span class="text-white text-uppercase text-[14px] font-semibold !font-anekb whitespace-nowrap">
        Read more
      </span>
    </button>
  </div>
</div>

<!-- Trending -->
<div class="flex justify-center pt-[64px] px-[8px]">
  <div class="grow flex flex-col max-w-centered-content">
    <div class="py-[4px] border-b border-[#D1D5DB]">
      <span class="text-[#111827] text-uppercase text-[18px] !font-anekt leading-[28px]">
        New at Coco-Casing
      </span>
    </div>

    <div class="pt-[32px] pb-[16px]">
      <app-product-slider [firstProduct]="firstSliderProduct" [secondProduct]="secondSliderProduct"
        [allowSlideBeyondEnds]="false"></app-product-slider>
    </div>
  </div>
</div>

<app-insta-gallery></app-insta-gallery>