<div class="bg-white">
  <!-- Nav -->
  <div>
    <div class="bg-coco-dark-blue h-[44px]"></div>
    <div class="bg-coco-dark-blue h-[26px] flex justify-center align-items-center">
      <span class="text-white text-uppercase text-[9px] font-roboto line-height-[11px] tracking-[0.72px]">
        Free shippings on order over £100!
      </span>
    </div>
    <div class="flex justify-between align-items-center h-[72px] px-1.5">
      <img src="/assets/img/home/nav/menu.png" alt="Menu" />
      <img src="/assets/img/home/nav/coco_logo_dark.png" alt="Coco Casing logo" />
      <img src="/assets/img/home/nav/shopping_bag.png" alt="Shopping bag" />
    </div>
  </div>

  <!-- Hero -->
  <div>
    <div class="h-[466px] bg-coco-light-gray bg-[url('/assets/img/home/hero_cases.png')] bg-cover bg-no-repeat"></div>
    <div class="bg-coco-dark-blue h-[257px] px-[8px] pt-[32px] pb-16px flex flex-col gap-y-[12px]">
      <div>
        <span class="block text-center text-white text-uppercase text-[34px] font-bold !font-anekb leading-[40px]">
          Elevate your style with
          <span class="text-coco-orange !font-anekb">Coco</span>
          cases
        </span>
      </div>

      <div class="flex justify-center">
        <button class="bg-coco-orange px-[20px] py-[14px] rounded-[8px]">
          <span class="text-white text-uppercase text-[16px] font-semibold !font-anekb leading-[24px]">
            Get yours now
          </span>
        </button>
      </div>
    </div>
  </div>

  <!-- Categories -->
  <div class="pt-[64px] px-[8px]">
    <div class="py-[4px] border-b border-[#D1D5DB]">
      <span class="text-[#111827] text-uppercase text-[18px] !font-anekt leading-[28px]">
        Shop by category
      </span>
    </div>

    <div class="pt-[32px] pb-[24px] flex flex-col gap-y-[8px]">
      <div class="grid grid-cols-1 gap-y-[4px]">
        <div class="bg-coco-light-gray h-[168px] flex rounded-[8px] p-[4px]">
          <div class="w-1/2 p-[4px]">
            <img class="w-full h-full object-contain" src="/assets/img/home/product_categories/coco_package.jpg"
              alt="The Coco Package" />
          </div>

          <div class="w-1/2 flex flex-col justify-center align-items-center p-[4px]">
            <span
              class="text-coco-dark-blue text-uppercase text-[20px] font-bold !font-anekt leading-[28px] whitespace-nowrap">
              The Coco Package
            </span>

            <span class="pt-[4px] pb-[8px] text-center text-[#111827] text-[12px] font-light !font-anekb">
              A phone case package that can keep up with your active life.
            </span>

            <button class="bg-coco-dark-blue w-[82px] h-[30px] px-[5px] py-[2px] rounded-[4px]">
              <span class="text-white text-uppercase text-[14px] font-medium !font-anekb">Shop now</span>
            </button>
          </div>
        </div>

        <div class="bg-coco-light-gray h-[168px] flex rounded-[8px] p-[4px]">
          <div class="w-1/2 p-[4px]">
            <img class="w-full h-full object-contain" src="/assets/img/home/product_categories/package.png"
              alt="The Package" />
          </div>

          <div class="w-1/2 flex flex-col justify-center align-items-center p-[4px]">
            <span
              class="text-coco-dark-blue text-uppercase text-[20px] font-bold !font-anekt leading-[28px] whitespace-nowrap">
              The Package
            </span>

            <span class="pt-[4px] pb-[8px] text-center text-[#111827] text-[12px] font-light !font-anekb">
              The package for casual activities for him and her.
            </span>

            <button class="bg-coco-dark-blue w-[82px] h-[30px] px-[5px] py-[2px] rounded-[4px]">
              <span class="text-white text-uppercase text-[14px] font-medium !font-anekb">Shop now</span>
            </button>
          </div>
        </div>

        <div class="bg-coco-light-gray h-[168px] flex rounded-[8px] p-[4px]">
          <div class="w-1/2 p-[4px]">
            <img class="w-full h-full object-contain" src="/assets/img/home/product_categories/glass_kit.png"
              alt="The Glass Kit" />
          </div>

          <div class="w-1/2 flex flex-col justify-center align-items-center p-[4px]">
            <span
              class="text-coco-dark-blue text-uppercase text-[20px] font-bold !font-anekt leading-[28px] whitespace-nowrap">
              The Glass Kit
            </span>

            <span class="pt-[4px] pb-[8px] text-center text-[#111827] text-[12px] font-light !font-anekb">
              Reinforce your outer structure with the glass kit.
            </span>

            <button class="bg-coco-dark-blue w-[82px] h-[30px] px-[5px] py-[2px] rounded-[4px]">
              <span class="text-white text-uppercase text-[14px] font-medium !font-anekb">Shop now</span>
            </button>
          </div>
        </div>
      </div>

      <div class="h-[61px] grid grid-cols-3 gap-x-[8px]">
        <div class="bg-coco-light-gray flex flex-col justify-center align-items-center rounded-[8px]">
          <span class="text-coco-dark-blue text-uppercase text-[12px] font-semibold !font-anekt leading-[28px]">
            Cases
          </span>
        </div>

        <div class="bg-coco-light-gray flex flex-col justify-center align-items-center rounded-[8px]">
          <span class="text-coco-dark-blue text-uppercase text-[12px] font-semibold !font-anekt leading-[28px]">
            Screen Protection
          </span>
        </div>

        <div class="bg-coco-light-gray flex flex-col justify-center align-items-center rounded-[8px]">
          <span class="text-coco-dark-blue text-uppercase text-[12px] font-semibold !font-anekt leading-[28px]">
            Lenses
          </span>
        </div>
      </div>
    </div>
  </div>

  <!-- Blog -->
  <div
    class="h-[126px] flex flex-col justify-center px-[18px] bg-coco-light-gray bg-center bg-[linear-gradient(0deg,rgba(0,0,0,0.74),rgba(0,0,0,0.74)),url('/assets/img/home/read_more_mobile.png')] bg-cover bg-no-repeat">
    <div>
      <span class="block text-white text-uppercase text-[24px] font-bold !font-anekt leading-[34px]">
        Live without limits
      </span>
    </div>
    <div class="flex gap-x-[24px]">
      <span class="block text-white text-[12px] font-bold !font-anekb leading-[20px]">
        Ready to break a sweat without breaking your phone?
      </span>

      <button class="bg-coco-orange h-[28px] px-[5px] py-[2px] rounded-[4px]">
        <span class="text-white text-uppercase text-[14px] font-semibold !font-anekb whitespace-nowrap">
          Read more
        </span>
      </button>
    </div>
  </div>

  <!-- Trending -->
  <div class="pt-[64px] px-[8px]">
    <div class="py-[4px] border-b border-[#D1D5DB]">
      <span class="text-[#111827] text-uppercase text-[18px] !font-anekt leading-[28px]">
        New at Coco-Casing
      </span>
    </div>

    <div class="pt-[32px] pb-[16px]">
      <app-product-slider [firstProduct]="firstSliderProduct" [secondProduct]="secondSliderProduct"
        [allowSlideBeyondEnds]="false"></app-product-slider>
    </div>
  </div>

  <!-- Social Media -->
  <div class="px-[8px]">
    <div class="py-[4px] border-b border-[#D1D5DB]">
      <span class="text-[#1F2937] text-uppercase text-[16px] font-medium !font-anekt">
        #Coco-Casing
      </span>
    </div>

    <div class="py-[32px] grid grid-cols-3">
      <div *ngFor="let image of instagramGalleryImages" class="aspect-w-1 aspect-h-1">
        <img class="object-cover" [src]="image.src" [alt]="image.alt" />
      </div>
    </div>
  </div>

  <!-- Sign Up -->
  <div class="bg-coco-orange px-[44px] py-[24px] flex flex-col gap-y-[16px]">
    <div>
      <span class="block text-center text-white text-uppercase text-[24px] font-bold !font-anekt leading-[32px]">
        Join us & save
      </span>

      <span class="block text-center text-white text-[16px] font-roboto leading-[24px]">
        Sign up and stay up to date on all the latest news.
      </span>
    </div>

    <div class="flex justify-center">
      <form class="grow flex items-center max-w-[250px] bg-white rounded-[8px]">
        <input
          class="grow px-[6px] py-[8px] rounded-l-[8px] placeholder-[#111827] text-[16px] font-extralight !font-anekb leading-[20px]"
          placeholder="Your Email*" />
        <button class="shrink-0 flex justify-end items-center w-[40px] h-full pl-[10px] pr-[2px] rounded-r-[8px]"
          type="submit">
          <img class="w-[20px] h-[20px]" src="/assets/img/home/arrow_right.png" alt="Sign up" />
        </button>
      </form>
    </div>
  </div>

  <!-- Footer -->
  <div class="bg-coco-dark-blue flex flex-col gap-y-[32px] px-[8px] py-[32px]">
    <div class="grid grid-cols-3 px-[8px] pb-[32px]">
      <div class="text-uppercase">
        <span class=" text-[#F9FAFB] text-[14px] font-medium !font-anekt leading-[20px]">
          About
        </span>

        <ul class="flex flex-col gap-y-[4px] text-[#E5E7EB] text-[12px] font-roboto leading-[16px]">
          <li>
            <span class="whitespace-nowrap">About Coco Casing&trade;</span>
          </li>
          <li>
            <span class="whitespace-nowrap">FAQ</span>
          </li>
          <li>
            <span class="whitespace-nowrap">Privacy Policy</span>
          </li>
          <li>
            <span class="whitespace-nowrap">Refund Policy</span>
          </li>
          <li>
            <span class="whitespace-nowrap">Shipping Policy</span>
          </li>
          <li>
            <span class="whitespace-nowrap">Terms of Service</span>
          </li>
        </ul>
      </div>

      <div></div>

      <div class="text-uppercase">
        <span class=" text-[#F9FAFB] text-[14px] font-medium !font-anekt leading-[20px]">
          Pages
        </span>

        <ul class="flex flex-col gap-y-[4px] text-[#E5E7EB] text-[12px] font-roboto leading-[16px]">
          <li>
            <span class="whitespace-nowrap">Home</span>
          </li>
          <li>
            <span class="whitespace-nowrap">Products</span>
          </li>
          <li>
            <span class="whitespace-nowrap">Contact</span>
          </li>
          <li>
            <span class="whitespace-nowrap">Blog</span>
          </li>
        </ul>
      </div>
    </div>

    <div class="flex justify-between px-[8px] pb-[16px]">
      <div class="text-[#9CA3AF] text-uppercase text-[12px] font-roboto leading-[16px]">
        <span class="block">Shadida Trading Company AB</span>
        <span class="block">559356-9345</span>
        <span class="block">Kristianstadsgatan 10,</span>
        <span class="block">21423 Malmö, Sweden.</span>
      </div>

      <div class="flex flex-col gap-y-[2px]">
        <div>
          <img src="/assets/img/home/coco_logo_light_small.png" alt="Coco Casing logo" />
        </div>

        <div class="flex justify-around px-[10px]">
          <img src="/assets/img/home/social_media/instagram.png" alt="Instagram" />
          <img src="/assets/img/home/social_media/tiktok.png" alt="TikTok" />
          <img src="/assets/img/home/social_media/youtube.png" alt="YouTube" />
        </div>
      </div>
    </div>

    <div class="border-t border-[#E5E7EB] text-white">
      <div class="flex justify-between py-[16px]">
        <img *ngFor="let image of paymentOptionImages" [src]="image.src" [alt]="image.alt" />
      </div>
      <span class="block text-center text-[#9CA3AF] text-[12px] font-medium !font-anekt leading-[20px]">
        &copy;{{ currentYear }}, Coco-Casing
      </span>
    </div>
  </div>
</div>