<!-- TODO: Go through px values and turn them to rem -->
<!-- TODO: Do font sizing + re-ask Nimer if Roboto can be overriden with anekb or anekt ('!' can be removed now) -->

<!-- Hero -->
<div>
  <div class="h-[466px] bg-coco-light-gray bg-[url('/assets/img/home/hero_cases.png')] bg-cover bg-no-repeat"></div>
  <div class="bg-coco-dark-blue h-[257px] px-[8px] pt-[32px] pb-16px flex flex-col gap-y-[12px]">
    <div>
      <span class="block text-center text-white text-uppercase text-[34px] font-bold !font-anekb leading-[40px]">
        Elevate your style with
        <span class="text-coco-orange !font-anekb">Coco</span>
        cases
      </span>
    </div>

    <div class="flex justify-center">
      <button class="bg-coco-orange px-[20px] py-[14px] rounded-[8px]">
        <span class="text-white text-uppercase text-[16px] font-semibold !font-anekb leading-[24px]">
          Get yours now
        </span>
      </button>
    </div>
  </div>
</div>

<app-product-categories></app-product-categories>

<app-blog-teaser></app-blog-teaser>

<!-- Trending -->
<div class="flex justify-center pt-[64px] px-[8px]">
  <div class="grow flex flex-col max-w-centered-content">
    <div class="py-[4px] border-b border-[#D1D5DB]">
      <span class="text-[#111827] text-uppercase text-[18px] !font-anekt leading-[28px]">
        New at Coco-Casing
      </span>
    </div>

    <div class="pt-[32px]">
      <app-product-slider [firstProduct]="firstSliderProduct" [secondProduct]="secondSliderProduct"
        [allowSlideBeyondEnds]="false"></app-product-slider>
    </div>
  </div>
</div>

<app-insta-gallery></app-insta-gallery>