<!-- TODO: Only mobile and desktop views are ready, no other resolution inbetween -->

<app-page-header imageUrl="/assets/img/faq-page/page-banner.jpg">
  Frequently Asked Questions
</app-page-header>

<!-- TODO: Should this whole section trigger the navigation, or just the arrow click? -->
<div class="flex justify-center lg:mt-8 lg:mb-28">
  <div
    class="relative grow flex justify-center lg:justify-between items-center max-w-centered-content mb-13 p-2 lg:px-8 lg:py-10 bg-coco-dark-blue lg:bg-[linear-gradient(0deg,rgba(3,7,18,0.7),rgba(3,7,18,0.7)),url('/assets/img/faq-page/contact-banner.jpg')] lg:bg-cover lg:bg-center lg:bg-no-repeat">
    <div class="flex flex-col justify-center px-8">
      <span
        class="text-uppercase text-white text-base lg:text-5xl font-medium !font-anekt leading-[18px] lg:leading-[48px]">
        Can't find what you need in the FAQ?<br>Lets talk!
      </span>
    </div>

    <div class="absolute lg:relative flex items-center right-0 h-full pr-2 lg:pr-[85px]">
      <button routerLink="/contact">
        <img class="w-8 lg:w-32 h-8 lg:h-32 object-contain" src="/assets/img/faq-page/arrow-narrow-right.svg"
          alt="Contact us" />
      </button>
    </div>
  </div>
</div>

<!-- TODO: Do we want this search? If so, for what resolutions? -->
<div class="flex justify-center bg-coco-light-gray">
  <div class="sm:hidden p-2">
    <form class="grow flex gap-x-4 max-w-[235px] px-2 py-[6.5px] bg-white">
      <button class="shrink-0" type="submit">
        <img src="/assets/img/faq-page/search.svg" alt="Search" />
      </button>
      <input class="grow text-sm font-light !font-anekb placeholder-[#111827] !outline-none" type="search"
        placeholder="Search ..." />
    </form>
  </div>
</div>

<div class="flex justify-center px-4 pt-10 lg:pt-0 lg:pb-28">
  <div class="grow flex flex-col max-w-centered-content lg:gap-y-28 pb-10 lg:pb-0">
    <div class="flex flex-col gap-y-10 lg:gap-y-16">
      <div *ngFor="let section of sections" class="flex flex-col gap-y-8 lg:gap-y-12">
        <div (click)="toggleSection(section)" class="flex justify-between py-1 border-b border-[E5E7EB]">
          <span class="text-uppercase text-coco-orange text-lg lg:text-3xl font-medium !font-anekt">
            {{ section.title }}
          </span>

          <div class="lg:hidden">
            <img
              [src]="isSectionExpanded(section) ? '/assets/img/faq-page/chevron-up.svg' : '/assets/img/faq-page/chevron-down.svg'"
              [alt]="isSectionExpanded(section) ? 'Collapse section' : 'Expand section'" class="w-[18px] h-[18px]" />
          </div>
        </div>

        <div [ngClass]="{ 'hidden': !isSectionExpanded(section) }"
          class="flex flex-col lg:flex-row gap-x-8 gap-y-8 w-full">
          <div *ngFor="let topic of section.topics"
            class="lg:w-full lg:flex-initial flex flex-col gap-y-2 lg:gap-y-4 lg:px-4 lg:pt-2 lg:pb-4">
            <span class="text-uppercase text-coco-dark-gray text-sm lg:text-xl font-medium !font-anekt leading-6">
              {{ topic.title }}
            </span>

            <!-- TODO: Animate scenario toggling -->
            <div *ngFor="let scenario of topic.scenarios"
              [ngClass]="[isScenarioExpanded(scenario) ? 'border-coco-orange' : 'border-[E5E7EB]']"
              class="flex flex-col lg:gap-y-1 mx-1 py-3 lg:py-4 border-b">
              <div (click)="toggleScenario(scenario)" class="flex justify-between items-center">
                <span class="text-coco-dark-gray text-sm lg:text-base font-medium !font-anekb">
                  {{ scenario.title }}
                </span>

                <div>
                  <img
                    [src]="isScenarioExpanded(scenario) ? '/assets/img/faq-page/chevron-up.svg' : '/assets/img/faq-page/chevron-down.svg'"
                    [alt]="isScenarioExpanded(scenario) ? 'Collapse scenario' : 'Expand scenario'"
                    class="w-[14px] h-[14px]" />
                </div>
              </div>

              <div [ngClass]="{ 'hidden': !isScenarioExpanded(scenario) }" class="px-1 py-4 lg:pb-2">
                <!-- TODO: Render body as HTML if needed -->
                <p class="text-coco-dark-gray text-sm font-normal !font-anekb">
                  {{ scenario.body }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>